<h3>{{customer.name}}</h3>
<h3>Reward Points {{customer.rewardPoints}}</h3>

<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Description</th>
        <th>Purchase</th>
        <th>Reward Points</th>
        <th>Target Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let transactions of customer.transactions">
          <td>{{transactions.id}}</td>
          <td>{{transactions.description}}</td>
          <td>$ {{transactions.total | number:'1.1-2'}}</td>
          <td>{{transactions.points | number}}</td>
          <td>{{transactions.saveDate | date | uppercase}}</td>
        </tr>
    </tbody>
  </table>

  <div class="row">
    <td><button (click)="addTodo()" class="btn btn-success">Add</button></td>
  </div>

</div>